body {
    margin: 0;
    background: linear-gradient(155deg, black 12%, red, white);
    filter: brightness(0.5);
}

.banner {
    width: 100vw;
    margin-top: 6vw;
}

#banner_img {
    width: 100vw;
}

.intro {
    margin-top: 6vw;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, black 81%, rgb(75, 2, 2));
    overflow: hidden;
}

#v1 {
    position: absolute;
    top:0;
    left: 0;
    transform: scale(1.2);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#sinopse {
    color: rgb(224, 34, 34);
    top: 0;
    right: 0;
    position: absolute;
    transform: scale(1.2);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    padding: 15vh;
    padding-top: 10vh;
    max-width: 42vw;
    height: 90vh;
    font-size: 24px;
    font-family: 'Protest Revolution', sans-serif;
}

.stone {
    width: 100vw;
    height: 100vh;
}

#stone_img {
    width: 100vw;
    position: absolute;
    transform: scale(1.2);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.red_rose {
    margin-top: 100vw;
    position: relative;
}

#red-v {
    width: 100vw;
}

button {
    color: white;
    background-color: rgb(126, 8, 8);
}
